body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  justify-content: row;
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-indez: 1;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

img.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

nav span {
  display: inline-block;
  padding: 10px 69px;
}

.missionlogo {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  text-align: center;
  width: 1200px;
  height: 700px;
  color: seashell;
  display: inline-flex;
}

.missionlogo h2 h4 {
  width: 100%;
  background: black;
  align-items: center;
}
