body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
}

.logo img {
  margin-right: 10px;
  width: 10px;
  height: 50px;
}
