body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-indez: 1;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

img.logo {
  align-items: left;
  padding: 10px;
  height: 50px;
}

nav span {
  display: inline-block;
  padding: 10px 69px;
}

.mission {
  width: 1200px;
  height: 700px;
  text-align: center;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg) no-repeat;
  position: relative;
}

.missionbackground {
  position: absolute;
  display: table;
}

img.missionbackgroundimage {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
